<div class="column">
  <h2 class="ui header">
    Nuevo Producto
  </h2>
  <form class="ui raised form segment" [formGroup]="form" (ngSubmit)="saveRecord(form.value)">
    <h4 class="ui dividing header">Introdusca los datos del producto</h4>
    <div class="fields">
      <div class="eight wide field">
        <label for="name">Nombre</label>
        <input type="text" id="name" placeholder="Nombre" [formControl]="form.controls['name']">
      </div>
      <div class="four wide field">
        <label for="barcode">Codigo de Barras</label>
        <input type="text" id="barcode" placeholder="Codigo de barras" [formControl]="form.controls['barCode']">
      </div>
      <div class="four wide field">
        <label for="price">Precio</label>
        <input type="number" id="price" placeholder="Precio" [formControl]="form.controls['price']">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label for="category">Categoria</label>
        <select id="category" class="ui fluid dropdown" [formControl]="form.controls['category']">
          <option *ngFor="let category of categories" value="{{category.id}}">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="field">
        <label for="unity">Unidad</label>
        <select id="category" class="ui fluid dropdown" [formControl]="form.controls['unity']">
          <option *ngFor="let unity of unities" value="{{unity.id}}">
            {{unity.unity}}
          </option>
        </select>
      </div>
    </div>
    <div class="field">
      <label for="imageUrl">Imagen(url)</label>
      <input type="text" id="imageUrl" [formControl]="form.controls['urlImage']">
    </div>
    <div class="field">
      <label for="description">Descripcion</label>
      <textarea rows="5" cols="5" [formControl]="form.controls['description']"></textarea>
    </div>
    <button class="ui submit button" (click)="saveRecord(form.value)">
      <i class="save icon"></i> Guardar
    </button>
  </form>
</div>

<div class="ui modal creating">

  <div class="ui segment">
    <div class="ui active dimmer">
      <div class="ui indeterminate text loader">Creando Registro</div>
    </div>
    <p></p>
    <p></p>
    <p></p>
  </div>

</div>