<!--sidebar-->
<div class="ui left sidebar vertical menu overlay  borderless visible sidemenu inverted teal" style="transition-duration: 0.1s; overflow: hidden; outline: none;" data-color="inverted teal" tabindex="0">
	<a class="item logo" [routerLink]="['/']">
    <img [src]="['../assets/logo.png']">
    <img [src]="['../assets/thumblogo.png']" class="displaynone">
  </a>
	
	<div class="ui divider"></div>
	<div class="ui accordion inverted">
		<app-menu-set *ngFor="let menu of dashboard" [menu]="menu"></app-menu-set>
	</div>
	<app-icon-menu-set *ngFor="let menu of dashboard" [menu]="menu"></app-icon-menu-set>

	<div class="ui divider"></div>
	<a class="item" href="typography.html">
  	<i class="print icon"></i>
		<span class="colhidden">Imprimir</span>
  </a>
	<a class="item" href="document.html">
    <i class="file icon"></i>
		<span class="colhidden">Edicion</span>
  </a>
	
	<div class="ui divider"></div>
	<a class="item hiddenCollapse">
		<div class="ui one mini inverted statistics">
			<div class="statistic">
				<div class="value">
					4
				</div>
				<div class="label">
					Productos
				</div>
			</div>
			<div class="statistic">
				<div class="text value">
					40<br> Veces
				</div>
				<div class="label">
					Iniciado secion
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					<i class="ion-paperclip icon"></i> 15
				</div>
				<div class="label">
					Usuarios
				</div>
			</div>
			<div class="statistic">
				<div class="value">
					21254
				</div>
				<div class="label">
					Lineas de Codigo
				</div>
			</div>
		</div>
	</a>
	<div id="ascrail2003" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2003-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2004" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2004-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2005" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2005-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2006" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2006-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2007" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2007-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2008" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2008-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2009" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2009-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2010" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2010-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2011" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
		<div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
	<div id="ascrail2011-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
		<div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
	</div>
</div>
<a class="item hiddenCollapse">
</a>
<!--sidebar end-->
<div class="pusher pushable">
	<!--navbar-->
	<div class="pusher" style="overflow: auto;">
		<div class="navslide navwrap">
			<div class="ui menu icon borderless grid inverted teal" data-color="inverted teal">
				<a class="item labeled" (click)="resizeSidebarManually()">
          <i class="content big icon"></i>
        </a>
				<div class="right menu colhidden inverted teal" data-color="inverted teal">
					<div class="ui dropdown item labeled icon" tabindex="0">
						<i class="bell icon"></i>
						<div class="ui red label mini circular">6</div>
						<div class="menu inverted teal" tabindex="-1" data-color="inverted teal">
							<div class="header">
								Hoy
							</div>
							<div class="item">
								<i class="crosshairs icon"></i> Huaico inminente
							</div>
							<div class="item">
								<i class="crosshairs icon"></i> Stock minimo en chockman
							</div>
							<div class="item">
								<i class="crosshairs icon"></i> Janice Robinson comento
							</div>
							<div class="header">
								Ayer
							</div>
							<div class="item">
								<i class="crosshairs icon"></i> Wilson Renuncio
							</div>
							<div class="item">
								<i class="crosshairs icon"></i> Marco Te envio un mensaje
							</div>
							<div class="item">
								<i class="crosshairs icon"></i> Pronostico de huaico
							</div>
						</div>
					</div>
					<div class="ui dropdown item" tabindex="0">
						Idioma <i class="dropdown icon"></i>
						<div class="menu inverted teal" tabindex="-1" data-color="inverted teal">
							<a class="item"><i class="united kingdom flag"></i>Ingles</a>
							<a class="item"><i class="spain flag"></i>Español</a>
						</div>
					</div>
					<div class="ui dropdown item" tabindex="0">
						<img class="ui mini circular image" [src]="['../assets/user.png']" alt="label-image">
						<div class="menu inverted teal" tabindex="-1" data-color="inverted teal">
							<a class="item" href="mail.html">Bandeja</a>
							<a class="item" href="profile.html">Perfil</a>
							<a class="item" href="settings.html">Configuraciones</a>
							<div class="ui divider"></div>
							<a class="item">Ayuda?</a>
							<a class="item" href="login.html">Salir</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainWrap navslide">
			<div class="ui equal width left aligned padded grid stackable">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
