<div class="row">
  <div class="six wide computer eight wide tablet column">
    <div class="ui fluid right action left icon input">
      <i class="search icon"></i>
      <input #newquery [value]="findQuery" (keyup.enter)="changeFindQuery(newquery.value)" type="text" placeholder="Buscar" />
      <div type="submit" class="ui blue button" (click)="changeFindQuery(newquery.value)">
        Buscar
      </div>
    </div>
  </div>
  <div class="six wide computer four wide tablet column">
  </div>
  <div class="four wide column">
    <div class="circular ui right floated icon top left pointing dropdown button">
      <i class="settings icon"></i>
      <div class="left menu">
        <a class="item" [routerLink]="['./nuevo']">
          <i class="file icon"></i>
          <span class="text">Nuevo</span>
        </a>
        <div class="item">
          <i class="dropdown icon"></i>
          <span class="text">Ver</span>
          <div class="menu">
            <div class="item" (click)="changeLimit('5')">
              5 Por pagina
            </div>
            <div class="item" (click)="changeLimit('10')">
              10 Por pagina
            </div>
            <div class="item" (click)="changeLimit('15')">
              15 Por pagina
            </div>
            <div class="item" (click)="changeLimit('20')">
              20 Por pagina
            </div>
            <div class="item" (click)="changeLimit('25')">
              25 Por pagina
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>