<div class="column">
  <h2 class="ui header">
    Categorias
  </h2>

  <app-list-header [findQuery]="_findQuery">
  </app-list-header>

  <app-categories-header [sortDirection]="_sortDirection" [sortBy]="_sortBy">
  </app-categories-header>

  <div *ngIf="loading; else elseTemplate">
    <div class="ui loading segment" style="min-height:200px">
      <p></p><p></p>
    </div>
  </div>
  <ng-template #elseTemplate>
    <table *ngIf="categories.length; else otroTemplate" class="ui celled table" style="margin-top:0em;">
      <tbody>
        <tr *ngFor="let category of categories">
          <td style="text-align:center" class="six wide column">
            <a [routerLink]="['./../categoria/'+category.id+'/card']">{{category.name}}</a>
          </td>
          <td style="text-align:center" class="ten wide column">
            {{category.description}}
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #otroTemplate>
      <div class="ui secondary segment">
        <p>No se encontraron registros con estas caracteristicas, pruebe otra configuracion.</p>
      </div>
    </ng-template>
  </ng-template>

  <!--<app-list-pagination *ngIf="!loading && categories.length" [pagination]="pagination">
  </app-list-pagination>-->

</div>
