<div class="ui column">
  <h2 class="ui header">Historial del Chockman</h2>

  <div class="ui grid">
    <div class="row">
      <div class="sixteen wide tablet eight wide computer column">
        <div class="ui segment">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="true"
                  [chartType]="'bar'">
          </canvas>
        </div>
      </div>
    </div>
    
  </div>
</div>
