<div class="column">
  <h1 class="ui header">
    Compras
  </h1>

  <app-list-header [findQuery]="_findQuery">
  </app-list-header>

  <app-purchases-header [sortDirection]="_sortDirection" [sortBy]="_sortBy">
  </app-purchases-header>

  <div *ngIf="loading; else elseTemplate">
    <div class="ui loading segment" style="min-height:200px">
      <p></p><p></p>
    </div>
  </div>
  <ng-template #elseTemplate>
    <table *ngIf="purchases.length; else otroTemplate" class="ui celled table" style="margin-top:0em;">
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td style="text-align:center" class="six wide column">
            <a [routerLink]="['./../purchase/'+purchase.id+'/card']">{{purchase.purchase_number}}</a>
          </td>
          <td style="text-align:center" class="seven wide column">
            {{purchase.provider_id}}
          </td>
          <td style="text-align:center" class="three wide column">
            {{purchase.purchase_total_price}}
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #otroTemplate>
      <div class="ui secondary segment">
        <p>No se encontraron registros con estas caracteristicas, pruebe otra configuracion.</p>
      </div>
    </ng-template>
  </ng-template>

  <!--<app-list-pagination *ngIf="!loading && purchases.length" [pagination]="pagination">
  </app-list-pagination>
  -->

</div>
