<!--sidebar-->
<div class="ui left sidebar vertical menu overlay  borderless visible sidemenu inverted teal" style="transition-duration: 0.1s; overflow: hidden; outline: none;"
    data-color="inverted teal" tabindex="0">
    <a class="item logo" href="index.html">
        <img src="../assets/logo.png" alt="stagblogo"><img src="../assets/thumblogo.png" alt="stagblogo" class="displaynone">
        </a>
    <div class="ui accordion inverted">
        <a class="title item">
          <i class="diamond titleIcon icon"></i> Dashboard <i class="dropdown icon"></i>
          </a>
        <div class="content">
            <a class="item" href="index.html">
            Dashboard v1
            </a>
        </div>
        <div class="title item">
            <i class="cube titleIcon icon"></i>
            <i class="dropdown icon"></i> Apps
        </div>
        <div class="content">
            <a class="item" href="inbox.html">
            Inbox
            </a>
            <a class="item" href="chat.html">
            Chat
            </a>
            <a class="item" href="filter.html">
            Filter
            </a>
            <a class="item" href="todo.html">
            Todo
            </a>
        </div>
        <div class="title item">
            <i class="bullseye titleIcon  icon"></i>
            <i class="dropdown icon"></i> Layouts
        </div>
        <div class="content">
            <a class="item" href="sidebar.html">
            Sidebar
            </a>
            <a class="item" href="menu.html">
            Nav
            </a>
            <a class="item" href="box.html">
            Box
            </a>
            <a class="item" href="cards.html">
            Cards
            </a>
            <a class="item" href="color.html">
            Colors
            </a>
            <a class="item" href="comment.html">
            Comment
            </a>
            <a class="item" href="embed.html">
            Embed
            </a>
            <a class="item" href="faq.html">
            Faq
            </a>
            <a class="item" href="feed.html">
            Feed
            </a>
            <a class="item" href="gallery.html">
            Gallery
            </a>
            <a class="item" href="grid.html">
            Grid
            </a>
            <a class="item" href="header.html">
            Header
            </a>
            <a class="item" href="timeline.html">
            Timeline
            </a>
            <a class="item" href="message.html">
            Message
            </a>
            <a class="item" href="price.html">
            Price
            </a>
        </div>
        <div class="title item">
            <i class="leaf titleIcon icon"></i>
            <i class="dropdown icon"></i> UI-Kit
        </div>
        <div class="content">
            <a class="item" href="breadcrumb.html">
            Breadcrumb
            </a>
            <a class="item" href="button.html">
            Button
            </a>
            <a class="item" href="divider.html">
            Divider
            </a>
            <a class="item" href="flag.html">
            Flag
            </a>
            <a class="item" href="icon.html">
            Icon
            </a>
            <a class="item" href="image.html">
            Image
            </a>
            <a class="item" href="label.html">
            Label
            </a>
            <a class="item" href="list.html">
            List
            </a>
        </div>
        <div class="title item">
            <i class="sun titleIcon icon"></i>
            <i class="dropdown icon"></i> Script
        </div>
        <div class="content">
            <a class="item" href="accordion.html">
            Accordion
            </a>
            <a class="item" href="dropdown.html">
            Dropdown
            </a>
            <a class="item" href="modal.html">
            Modal
            </a>
            <a class="item" href="notification.html">
            Notification
            </a>
            <a class="item" href="alert.html">
            Alert
            </a>
            <a class="item" href="progress.html">
            Progress
            </a>
            <a class="item" href="range-v1.html">
            Range Semantic
            </a>
            <a class="item" href="range-v2.html">
            Range Material
            </a>
            <a class="item" href="rating.html">
            Rating
            </a>
            <a class="item" href="tab.html">
            Tab
            </a>
            <a class="item" href="tooltip.html">
            Tooltip
            </a>
            <a class="item" href="transition.html">
            Transition
            </a>
        </div>
        <div class="title item">
            <i class="umbrella titleIcon icon"></i>
            <i class="dropdown icon"></i> Pages
        </div>
        <div class="content">
            <a class="item" href="profile.html">
            Profile
            </a>
            <a class="item" href="settings.html">
            Settings
            </a>
            <a class="item" href="blank.html">
            Blank
            </a>
            <a class="item" href="login.html">
            Sign In
            </a>
            <a class="item" href="login.html">
            Sign Up
            </a>
            <a class="item" href="forgotpassword.html">
            Forgot Password
            </a>
            <a class="item" href="lockme.html">
            Lock Me Screen
            </a>
            <a class="item" href="404.html">
            Error 404
            </a>
            <a class="item" href="comingsoon.html">
            Coming Soon
            </a>
        </div>
        <div class="title item">
            <i class="rocket titleIcon icon"></i>
            <i class="dropdown icon"></i> Form
        </div>
        <div class="content">
            <a class="item" href="formelements.html">
            Form Element
            </a>
            <a class="item" href="input.html">
            Input
            </a>
            <a class="item" href="formvalidation.html">
            Form Validation
            </a>
            <a class="item" href="editor.html">
            Html Editor
            </a>
        </div>
        <div class="title item">
            <i class="magnet titleIcon icon"></i>
            <i class="dropdown icon"></i> Tables
        </div>
        <div class="content">
            <a class="item" href="table.html">
            Static Table
            </a>
            <a class="item" href="datatable.html">
            Datatable
            </a>
            <a class="item" href="editable.html">
            Editable
            </a>
        </div>
        <div class="title item">
            <i class="legal titleIcon icon"></i>
            <i class="dropdown icon"></i> Chart
        </div>
        <div class="content">
            <a class="item" href="chart.html">
            Charts 1
            </a>
            <a class="item" href="chart-2.html">
            Charts 2
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Dashboard</span>
        <i class="diamond icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Dashboard
            </div>
            <div class="ui divider"></div>
            <a class="item" href="index.html">
            Dashboard v1
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Apps</span>
        <i class="cube icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Apps
            </div>
            <div class="ui divider"></div>
            <a class="item" href="inbox.html">
            Inbox
            </a>
            <a class="item" href="filter.html">
            Filter
            </a>
            <a class="item" href="todo.html">
            Todo
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Layouts</span>
        <i class="bullseye icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Layouts
            </div>
            <div class="ui divider"></div>
            <a class="item" href="sidebar.html">
            Sidebar
            </a>
            <a class="item" href="menu.html">
            Nav
            </a>
            <a class="item" href="box.html">
            Box
            </a>
            <a class="item" href="cards.html">
            Cards
            </a>
            <a class="item" href="color.html">
            Colors
            </a>
            <a class="item" href="comment.html">
            Comment
            </a>
            <a class="item" href="embed.html">
            Embed
            </a>
            <a class="item" href="faq.html">
            Faq
            </a>
            <a class="item" href="feed.html">
            Feed
            </a>
            <a class="item" href="gallery.html">
            Gallery
            </a>
            <a class="item" href="grid.html">
            Grid
            </a>
            <a class="item" href="header.html">
            Header
            </a>
            <a class="item" href="timeline.html">
            Timeline
            </a>
            <a class="item" href="message.html">
            Message
            </a>
            <a class="item" href="price.html">
            Price
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>UI-Kit</span>
        <i class="leaf icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                UI-Kit
            </div>
            <div class="ui divider"></div>
            <a class="item" href="breadcrumb.html">
            Breadcrumb
            </a>
            <a class="item" href="button.html">
            Button
            </a>
            <a class="item" href="divider.html">
            Divider
            </a>
            <a class="item" href="flag.html">
            Flag
            </a>
            <a class="item" href="icon.html">
            Icon
            </a>
            <a class="item" href="image.html">
            Image
            </a>
            <a class="item" href="label.html">
            Label
            </a>
            <a class="item" href="list.html">
            List
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Script</span>
        <i class="sun icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                UI-Kit
            </div>
            <div class="ui divider"></div>
            <a class="item" href="accordion.html">
            Accordion
            </a>
            <a class="item" href="dropdown.html">
            Dropdown
            </a>
            <a class="item" href="modal.html">
            Modal
            </a>
            <a class="item" href="notification.html">
            Notification
            </a>
            <a class="item" href="alert.html">
            Alert
            </a>
            <a class="item" href="progress.html">
            Progress
            </a>
            <a class="item" href="range-v1.html">
            Range Semantic
            </a>
            <a class="item" href="range-v2.html">
            Range Material
            </a>
            <a class="item" href="rating.html">
            Rating
            </a>
            <a class="item" href="tab.html">
            Tab
            </a>
            <a class="item" href="tooltip.html">
            Tooltip
            </a>
            <a class="item" href="transition.html">
            Transition
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Pages</span>
        <i class="umbrella icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Pages
            </div>
            <div class="ui divider"></div>
            <a class="item" href="profile.html">
            Profile
            </a>
            <a class="item" href="settings.html">
            Settings
            </a>
            <a class="item" href="blank.html">
            Blank
            </a>
            <a class="item" href="login.html">
            Sign In
            </a>
            <a class="item" href="login.html">
            Sign Up
            </a>
            <a class="item" href="forgotpassword.html">
            Forgot Password
            </a>
            <a class="item" href="lockme.html">
            Lock Me Screen
            </a>
            <a class="item" href="404.html">
            Error 404
            </a>
            <a class="item" href="comingsoon.html">
            Coming Soon
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Form</span>
        <i class="rocket  icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Form
            </div>
            <div class="ui divider"></div>
            <a class="item" href="formelements.html">
            Form Element
            </a>
            <a class="item" href="input.html">
            Input
            </a>
            <a class="item" href="formvalidation.html">
            Form Validation
            </a>
            <a class="item" href="editor.html">
            Html Editor
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Table</span>
        <i class="magnet icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Table
            </div>
            <div class="ui divider"></div>
            <a class="item" href="table.html">
            Static Table
            </a>
            <a class="item" href="datatable.html">
            Datatable
            </a>
            <a class="item" href="editable.html">
            Editable
            </a>
        </div>
    </div>
    <div class="ui dropdown item displaynone scrolling" tabindex="0">
        <span>Charts</span>
        <i class="legal icon"></i>
        <div class="menu" tabindex="-1" style="overflow: hidden; outline: none;">
            <div class="header">
                Charts
            </div>
            <div class="ui divider"></div>
            <a class="item" href="chart.html">
            Charts 1
            </a>
            <a class="item" href="chart-2.html">
            Charts 2
            </a>
        </div>
    </div>
    <div class="ui divider"></div>
    <a class="item" href="typography.html">
        <i class="print icon"></i> <span class="colhidden">Typography</span>
        </a>
    <a class="item" href="document.html">
        <i class="file icon"></i> <span class="colhidden">Document</span>
        </a>
    <div class="ui divider"></div>
    <a class="item">
        <div class="ui inverted progress tiny yellow" id="sidebar_progress1">
            <div class="bar">
            </div>
            <div class="label colhidden" style="margin-top: 10px"><span class="colhidden">Monthly Bandwidth Transfer</span></div>
        </div>
    </a>
    <a class="item">
        <div class="ui inverted progress tiny teal" id="sidebar_progress2">
            <div class="bar">
            </div>
            <div class="label colhidden" style="margin-top: 10px"><span class="colhidden">Disk Space Usage</span></div>
        </div>
    </a>
    <a class="item">
        <div class="ui inverted progress tiny blue" id="sidebar_progress3">
            <div class="bar">
            </div>
            <div class="label colhidden" style="margin-top: 10px"><span class="colhidden">Earn money</span></div>
        </div>
    </a>
    <div class="ui divider"></div>
    <a class="item hiddenCollapse">
        <div class="ui one mini inverted statistics">
            <div class="statistic">
                <div class="value">
                    3654
                </div>
                <div class="label">
                    Downloads
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                    Three<br> Thousand
                </div>
                <div class="label">
                    Views
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <i class="ion-paperclip icon"></i> 15
                </div>
                <div class="label">
                    Attached File
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    <img src="http://telatkaya.com/stagb/img/avatar/people/carol.png" class="ui circular inline image"> 21254
                </div>
                <div class="label">
                    Team Members
                </div>
            </div>
        </div>
    </a>
    <div id="ascrail2003" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2003-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2004" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2004-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2005" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2005-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2006" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2006-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2007" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2007-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2008" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2008-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2009" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2009-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2010" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2010-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2011" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: 9999999; cursor: default; position: absolute; top: 1px; left: -6px; height: 0px; display: none;">
        <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
    <div id="ascrail2011-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 5px; z-index: 9999999; top: -6px; left: 1px; position: absolute; cursor: default; display: none;">
        <div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 5px; width: 0px; background-color: rgb(61, 59, 59); border: 0px; background-clip: padding-box; border-radius: 0px;"></div>
    </div>
</div>
<a class="item hiddenCollapse">
</a>
<!--sidebar-->
<div class="pusher pushable">
    <!--navbar-->
    <div class="pusher">
        <div class="navslide navwrap">
            <div class="ui menu icon borderless grid inverted teal" data-color="inverted teal">
                <a class="item labeled" (click)="resizeSidebarManually()">
                    <i class="content big icon"></i>
                </a>
                <div class="right menu colhidden inverted teal" data-color="inverted teal">
                    <div class="ui dropdown item labeled icon" tabindex="0">
                        <i class="bell icon"></i>
                        <div class="ui red label mini circular">6</div>
                        <div class="menu inverted teal" tabindex="-1" data-color="inverted teal">
                            <div class="header">
                                People You Might Know
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="http://telatkaya.com/stagb/img/avatar/people/enid.png" alt="label-image">                                Janice Robinson
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="http://telatkaya.com/stagb/img/avatar/people/Hershell.png" alt="label-image">                                Cynthia May
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="http://telatkaya.com/stagb/img/avatar/people/Rick.png" alt="label-image">                                Hugh Carter
                            </div>
                            <div class="header">
                                Your Friends' Friends
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="http://telatkaya.com/stagb/img/avatar/people/Meggie.png" alt="label-image">                                Pauline Cain
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="http://telatkaya.com/stagb/img/avatar/people/Glenn.png" alt="label-image">                                Marco Beck
                            </div>
                            <div class="item">
                                <img class="ui avatar image" src="http://telatkaya.com/stagb/img/avatar/people/Daryl.png" alt="label-image">                                Sue Quinn
                            </div>
                        </div>
                    </div>
                    <div class="ui dropdown item" tabindex="0">
                        Language <i class="dropdown icon"></i>
                        <div class="menu inverted teal" tabindex="-1" data-color="inverted teal">
                            <a class="item"><i class="united kingdom flag"></i>English</a>
                            <a class="item"><i class="turkey flag"></i>Turkish</a>
                            <a class="item"><i class="spain flag"></i>Spanish</a>
                        </div>
                    </div>
                    <div class="ui dropdown item" tabindex="0">
                        <img class="ui mini circular image" src="http://telatkaya.com/stagb/img/avatar/people/enid.png" alt="label-image">
                        <div class="menu inverted teal" tabindex="-1" data-color="inverted teal">
                            <a class="item" href="mail.html">Inbox</a>
                            <a class="item" href="profile.html">Profile</a>
                            <a class="item" href="settings.html">Settings</a>
                            <div class="ui divider"></div>
                            <a class="item">Need Help?</a>
                            <a class="item" href="login.html">Sign Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <!--Site Content-->
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui red message">Documentation File is not Allowed on Demo</div>
                    </div>
                </div>
                
                <!--Site Content-->
            </div>
        </div>
    </div>
    <!--navbar-->
    <!--maincontent-->
    <!--maincontent-->
</div>