<div class="column">
  <h1 class="ui header">
    Productos 
  </h1>

  <app-list-header [findQuery]="_findQuery">
  </app-list-header>

  <app-product-list-header [sortDirection]="_sortDirection" [sortBy]="_sortBy">
  </app-product-list-header>

  <div *ngIf="loading; else elseTemplate">
    <div class="ui loading segment" style="min-height:200px">
      <p></p><p></p>
    </div>
  </div>
  <ng-template #elseTemplate>
    <table *ngIf="!!products.length; else otroTemplate" class="ui celled table" style="margin-top:0em;">
      <tbody>
        <tr *ngFor="let product of products">
          <td style="text-align:center" class="five wide column">
            <a [routerLink]="['./../producto/'+product.id+'/card']">{{product.name}}</a>
          </td>
          <td style="text-align:center" class="two wide column">
            {{product.bar_code}}
          </td>
          <td style="text-align:center" class="four wide column">
            {{product.category}}
          </td>
          <td style="text-align:center" class="three wide column">
            {{product.unity}}
          </td>
          <td style="text-align:center" class="two wide column">
            {{product.price | number:'1.2-2'}}
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #otroTemplate>
      <div class="ui secondary segment">
        <p>No se encontraron registros con estas caracteristicas, pruebe otra configuracion.</p>
      </div>
    </ng-template>
  </ng-template>

  <app-list-pagination *ngIf="!loading && !!products.length" 
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [totalRecords]="totalRecords"
    [from]="from"
    [to]="to">
  </app-list-pagination>

</div>
