<div class="column">
  <h1 class="ui header">Detalles del producto</h1>
  <div class="ui two column grid stackable">
    <div class="column">
      <div class="ui segment">
        <img class="ui image" [src]="['./assets/001.jpg']">
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <h2 class="ui header">Chockman</h2>
        <div class="ui divider">
        </div>
        <h3 class="ui header">Precio: S/ 0.60</h3>
        <h3 class="ui header">Codigo: 123123</h3>
        <div class="ui divider">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi rem autem vero. Natus doloremque ut obcaecati corrupti odit eveniet, accusamus, consectetur cupiditate voluptatibus, blanditiis minus ea consequuntur incidunt non.</p>
      </div>
    </div>
  </div>      
</div>