<div class="column">
  <h1 class="ui header">
    Clientes
  </h1>

  <app-list-header [findQuery]="_findQuery">
  </app-list-header>

  <app-customers-header [sortDirection]="_sortDirection" [sortBy]="_sortBy">
  </app-customers-header>

  <div *ngIf="loading; else elseTemplate">
    <div class="ui loading segment" style="min-height:200px">
      <p></p><p></p>
    </div>
  </div>
  <ng-template #elseTemplate>
    <table *ngIf="customers.length; else otroTemplate" class="ui celled table" style="margin-top:0em;">
      <tbody>
        <tr *ngFor="let customer of customers">
          <td style="text-align:center" class="six wide column">
            <a [routerLink]="['./../customer/'+customer.id+'/card']">{{customer.last_name + ' ' + customer.first_name}}</a>
          </td>
          <td style="text-align:center" class="seven wide column">
            {{customer.email}}
          </td>
          <td style="text-align:center" class="three wide column">
            {{customer.phone}}
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #otroTemplate>
      <div class="ui secondary segment">
        <p>No se encontraron registros con estas caracteristicas, pruebe otra configuracion.</p>
      </div>
    </ng-template>
  </ng-template>

  <!--<app-list-pagination *ngIf="!loading && customers.length" [pagination]="pagination">
  </app-list-pagination>
  -->

</div>
