<div class="ui four cards">
  <a class="red card">
    <div class="image">
      <div class="ui orange ribbon label">
        Actual
      </div>
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="orange card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="yellow card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="olive card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="green card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="teal card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="blue card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="violet card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="purple card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="pink card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="brown card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="grey card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
  <a class="black card">
    <div class="image">
      <img [src]="['./assets/001.jpg']">
    </div>
  </a>
</div>